.input-container {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 100%;
    margin-bottom: 15px;
  }
  
  .icon {
    padding: 10px;
    background: dodgerblue;
    color: white;
    min-width: 50px;
    text-align: center;
  }
  
  .input-field {
    width: 100%;
    padding: 10px;
    outline: none;
  }
  
  .input-field:focus {
    border: 2px solid dodgerblue;
  }
  
  /* Set a style for the submit button */
  .btn {
    /* background-color: #f0ad4e; */
    color: white;
    /* padding: 15px; */
    margin: 2px;
   
    border: none;
    cursor: pointer;
    /* width: 100%; */
    /* opacity: 0.9; */
  }
  
  .btn:hover {
    opacity: 1;
  }

  .Book3ContentA-head-option {
    background: #055cab;
    color: #fff;
    padding: 15px 30px;
    font-size: 19px;
    font-weight: 600;
  }